{% extends 'Page/home.html.twig' %}

{% block title %}Ateliers - CreaSelf{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/propos.css') }}">
{% endblock %}

{% block body %}
<div class="cart-container">
    <h1> APropos</h1>

 


{% endblock %}

