{% extends '__home/base.html.twig' %}

{% block title %}Ateliers - CreaSelf{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/atelier.css') }}">
{% endblock %}

{% block body %}
<div class="cart-container">
    <h1>Mon Panier</h1>

 

<h1>Ateliers</h1>
<ul>
    {% for atelier in ateliers %}
        <li>{{ atelier.name }} - {{ atelier.prix }} €</li>
    {% else %}
        <li>Aucun atelier trouvé.</li>
    {% endfor %}
</ul>
</div>
{% endblock %}
