<div class="video-container">
    <video autoplay muted loop playsinline>
        <source src="asset/Cre_accueil.mp4" type="video/mp4">
        Votre navigateur ne supporte pas les vidéos HTML5.
    </video>

    <div class="content">
    
        <a href="{{ path('app_atelier') }}" class="button">Nos Ateliers</a>
        <a href="{{ path('app_box') }}" class="button">Nos Box</a>
    </div>
</div>
