#calendar {
    max-width: 3000px;
    margin: 40px auto;
    padding: 0 10px;
    background: rgb(209, 120, 60);
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    font-size: 14px;
}
