body {
  background-color: #C57ED3;
  color: #490D40;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}



.about {
  background-color: #C57ED3;
  color: #490D40;
  height: 600px;
  text-align: center;
  margin-top: -20px;
}

.about h2 {
  padding-top: 220px;
}

.about p {
  padding: 20px 80px;
}