{% extends '__home/base.html.twig' %}

{% block title %}BOX - CreaSelf{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/box.css') }}">
{% endblock %}

{% block body %}
<div class="cart-container">
    <h1>Mon Panier</h1>



<h1>Boxes</h1>
<ul>
    {% for box in boxes %}
        <li>{{ box.name }} - {{ box.prix }} €</li>
    {% else %}
        <li>Aucune box trouvée.</li>
    {% endfor %}
</ul>


</div>
{% endblock %}
