<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}CreaSelf{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
        <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
        <link rel="stylesheet" href="{{ asset('css/modal-box-perso.css') }}">
        <link rel="stylesheet" href="{{ asset('css/_modal_panier.css') }}">
    {% endblock %}
</head>

<body class="intro-active">
    {% include 'component/navbar.html.twig' %}
    {% include 'component/_modal_panier.html.twig' %}

    <main>
        {% block body %}
        {% endblock %}
    </main>

    {% block javascripts %}
    {% endblock %}
    
</body>
</html>