<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Navbar + Curseur + Scroll Anim</title>
  <link rel="stylesheet" href="navbar.css" />
</head>
<body>


  <!-- NAVBAR FIXE -->
  <header >
   
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="#Home">Home</a></li>
        <li><a href="#press">Press</a></li>
        <li><a href="#shop">Shop</a></li>
        <li><a href="#footer">Contactez-nous</a></li>
      </ul>
    </nav>

  </header>

  <script src="navbar.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
  <script src="{{ asset('js/fullcalendar.js') }}"></script>

  
</body>
</html>
